##### Server #####
# Hostname / address to listen
API_HOSTNAME=localhost

# Port to listen
API_PORT=3000

# API root
API_PREFIX=/api

# SSL certificate
API_CERT=certs/localhost.crt

# SSL key
API_KEY=certs/localhost.key

# Maria log basename
API_LOG=stderr

# Maria
API_LOG_LEVEL=debug

##### MariaDB #####
# MariaDB server hostname
MARIA_HOSTNAME=localhost

# Maria server port
MARIA_PORT=3306

# Maria database name
MARIA_DB=Dino_Marche

# Maria username
MARIA_USER=root

# Maria password
#MARIA_PASSWORD=Password

# Maria log level
MARIA_LOG_LEVEL=debug

# Maria log basename
MARIA_LOG=maria.log

# Reset database (Yes or No)
MARIA_FORCE=y

# Bcrypt Salt rounds
SALT_ROUNDS=10
